@font-face {
    font-family: 'museo_slab500';
    src: url('Museo_Slab_500_2-webfont.eot');
    src: url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500_2-webfont.woff2') format('woff2'),
         url('Museo_Slab_500_2-webfont.woff') format('woff'),
         url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
         url('Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab500_italic';
    src: url('Museo_Slab_500italic-webfont.eot');
    src: url('Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Museo_Slab_500italic-webfont.woff2') format('woff2'),
         url('Museo_Slab_500italic-webfont.woff') format('woff'),
         url('Museo_Slab_500italic-webfont.ttf') format('truetype'),
         url('Museo_Slab_500italic-webfont.svg#museo_slab500_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geotica_threeregular';
    src: url('Geotica_Three-webfont.eot');
    src: url('Geotica_Three-webfont.eot?#iefix') format('embedded-opentype'),
         url('Geotica_Three-webfont.woff2') format('woff2'),
         url('Geotica_Three-webfont.woff') format('woff'),
         url('Geotica_Three-webfont.ttf') format('truetype'),
         url('Geotica_Three-webfont.svg#geotica_threeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

    p {
        font-family: 'museo_slab500';
        color: #28313e;
        }

    h1 {
        font-family: 'geotica_threeregular';
        text-align: center;
    }   

    h2 {
        font-family: 'geotica_threeregular';
        text-align: center;
    }  

    h3 {
        font-family: 'geotica_threeregular';
        text-align: center;
    }   

    .Ap {
        color: #28313e;
        font-size: 11pt;
        font-family: "museo_slab500", serif;
        line-height: 1.8;
        }

    #Ah1 {
        color: #93cb8a;
        font-size: 30pt;
        font-family: "geotica_threeregular", serif;
        text-align: center;
        margin-top: 40px;
        letter-spacing: 2px;
    }

    #Ah2 {
        color: #e98740;
        font-family: "museo_slab500", serif;
        font-size: 18pt;
        margin-top: 35px;
        margin-bottom: 25px
    }

    #banner {
            background-image: url("../img/banner.png");
            width: 960px;
            height:234px;
            margin: 0 auto; 
        }

    #bannernumber {
            float: right;
            color: #DB4845;
            font-size: 16pt;
            font-family: 'geotica_threeregular', serif;
        }

        /** {
            border: 1px solid black;
        }
*/

    #socialBar {
            float: right;
        }

    .social {
            list-style-type: none;
            float: right;
            margin-top: 5px;
        }

    .icon {
            display: inline;
            margin: 5px 10px;
        }

    .img-responsive {
            margin: 0 auto;
        }

    .indexImages {
        margin-top: 40px;
        margin-bottom: 40px;
    }    

    .imgBall {
        margin:0 auto;
        padding-top: 60px;
        padding-left: 35px;
    }   

    .imgFood {
        margin:0 auto;
        padding-top: 80px;
        padding-left:20px;
    } 



    #footer {
            border-top: 1px dashed #A1A1A1;
            padding-top: 20px;
            margin: 0 auto;
        }

    #footernumber {
            float: left;
            color: #3d9b94;
            font-size: 22pt;
            font-family: 'geotica_threeregular', serif;
        }

    .copy {
            text-align: center;
            margin-top: 40px;
            font-family: 'museo_slab500', serif;
            font-size: 8pt;
        }

    #redcrosslogo {
            margin-top: 40px;
        }

    #aspselogo {
            margin-top: 30px;
        }

    #qualLogos {
            margin-top: 40px;
        }

    #navBar {
            
            border-top: 1px dashed #A1A1A1;
            border-bottom: 1px dashed #A1A1A1;
            margin-bottom: 10px;
            margin-top: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            width:840px;
            margin-left: auto;
            margin-right: auto;
        }

    .links {
            list-style-type: none;
            width: 925px;
            margin: 0 auto;

        }

    .links li {
            display: inline;
            font-family: 'museo_slab500', serif;
            font-size: 15px;
            border-right: 1px solid #f8bbb2;
            padding-right: 20px;
            padding-left: 5px;
            margin-right: 10px;
            margin-left: 7px;
            
        }

    .activePage {
            color: #93cb8a;
        }

    a {
            color: #DB4845;
        }

    a:hover {
            color: #f8bbb2;
            text-decoration: none;
        }

    #lastLink {
            border-right: none;
        }

    .contentArea {
            border: 4px solid #f8bbb2;
            margin-bottom:20px;
        }